

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



@font-face {
    font-family: Mine;
    src: url(GraphikCondensed-Black-Trial.otf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}






/* root colors and themes */

:root{
  
    --primery:#242628;
    --secondery:#1e1e1e;
    --text:#d7d5d5;
    --blue:#5454D4;

}



.icon-div{
    display: none;
}

#nav-open{
    display: none;
}

#nav-close{
    display: none;
}

/* ====================================== */
/*   commen elements styling elements     */
/* ====================================== */


body{
    background: var(--secondery);
    color: var(--text);
}


h1{
        font-size: 40px;
        font-weight: 900;
        font-family: Mine;
    }


    

/*  section styles */

section{
    width: 100%;
    height: 100vh;
    padding-left: 80px;
    padding-right: 80px;
    background: var(--secondery);
}

/* ==================== */



/* ======================================== */
/* ======================================== */








/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section home page                     }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */





.landding-page{
    background: var(--secondery);
}




/* Landding page styling */

.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.logo img{
    width: 50px;
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
}



/* ===================== */

nav{
    background:var(--secondery);
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);


    

    .links ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 28px;
        align-items: center;
        justify-content: center;
    }

   


    ul li{
        text-decoration: none;
        list-style: none;
    }

    ul li a{
        text-decoration: none;
        color: #fff;
    }
}




/* ========================= */
/* ========================= */

.contact{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}


.contact button{

   color: #fff;
   width: 120px;
   height: 40px;
   background: transparent;
   border: 2px solid #fff;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;

}

.contact button:hover{
    background: var(--text);
    color: var(--secondery);
}



/* ========================== */
/* ========================== */


/* ============================= */
/* ========[second raw]========= */
/* ============================= */

.row-2{
    margin-top: 60px;
}

aside{
    color: var(--text);
    width: 75%;
    height: 150px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 30px;

    



    .btn-div button{
     color: #fff;
     width: 120px;
     height: 40px;
     background: var(--blue);
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 4px;
    }

    .btn-div button:hover{
      border-color: var(--text);
    }

}


/* =================== */
/* ======================== */


main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;



    /* background images  droped*/

     background-image: 
     url('./images/vector.png'), url('./images/Ellipse.png'), 
     url('./images/triangle.png') , url('./images/Icon.png');

    background-repeat: no-repeat;

    background-position: 
     left calc(0%) top calc(0%), left calc(100%) top calc(0%),
     left calc(0%) top calc(100%) , left calc(100%) top calc(100%);

    /* this is cool */
  

    img{
        width: 340px;
        height: 380px;
       
    }

}


/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {





section{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

/* ====[navbar]===== */

nav{
    width:100%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    

    .logo{
     display: flex;
     align-items: center;
    }
   
    .logo img{
       width: 50px;
       height: 50px;
    }
    
    
 .links ul{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        background:#1e1e1eeb;
        z-index: 99;
        border: 1px solid var(--text);
        border-radius: 8px;
        gap: 18px;
    }

    

    .links{
         grid-column: 2/2;
        grid-row: 2/2;
    }


   
}



nav .links{
   display: none; 
}

nav .contact{
    display: none;
}



.icon-div{
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--text);

    grid-column: 2/2;
    grid-row: 1/1;

    button{
        border: none;
        background: transparent;
        color: var(--text);
        font-size: 22px;
    }

    #nav-close{
        display: none;
    }

    #nav-open{
        display: flex;
    }
}



    
.row-2{
    display: grid;
    grid-template-rows: minmax(430px,1fr) 1fr ;
    grid-template-columns: 1fr;

}



main{
     display: flex;
     justify-content: right;

    img{
        width: 240px;
        height: 280px;
    }
}

    
}





/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section Intro Page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.intro{
    color: var(--text);
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 1fr;
    
    .content, .headding{
        
        display: flex;
        align-items: end;
    }

    .mp4{
        grid-row: 2;
        grid-column: 1/ span 2 ;
        width: 100%;
        height: 80%;
     
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        video{
            width: 100%;
            height: 80%;   
        }

    }

}


.ply-pse-btn{
   background: var(--text);
   position: absolute;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   font-size: 25px;
   cursor: pointer;
   border: none;   
}

#play{
   background: var(--blue);
   color: var(--text);
   visibility: visible;
   z-index: 3;
}

#pause{
    background: #8686a34d; 
    color: #adc6e7a2;
    visibility: hidden;
    z-index: 4;
}



/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    .intro{
        margin-top: 100px;
         display: flex;
         flex-wrap: wrap;
         gap: 15px;


        .mp4{
            height:auto;
            padding: 0;
        }
       
    }
}




/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section Skill Page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.skills{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 150px 1fr;
}

.skill-head{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skill-set{
    
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 75px;
   
}

.skill-cont{
    width: 150px;
    height: 110px;
    display: grid;
    grid-template-rows: 30px 40px 1fr;
    justify-content: center;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    div h2{
        font-weight: 600;
        font-size: 16px;
    }

    div p{
        font-size: 12px;
    }

    div span i{
       
        font-size: 12x;
        border-radius: 50%;
    }

    div span{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}


.yellow span{
    color: yellow;
    background: #5b5b40a2;
}

.red span{
    color: red;
    background: #5b43439d;
}

.blue span{
    color: #5b5bee;
    background: #393952cf;
}

/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    .skills{
        height: 100%;
    }

    .skill-set{
        height: 100%;
        margin-top: 90px;
        gap: 55px;
    }
}





/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={              Section projects page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.proj-head{
    display: flex;
    justify-content: center;
    text-align: center;
}


/* image slider */

.image-slider{
    position: relative;
    width: 100%;
    height: 85%;
    margin-top: 80px;
}


.image-slider .swiper-slide{
    width: 350px;
    height: 350px;
    aspect-ratio: 1/2;
    border-radius: 14px;
    user-select: none;
}


.image-slider .swiper-slide-active{
    animation : blinking 2.2s infinite ease-in-out;
}


@keyframes blinking{
    50%{
       border-color: #6419ce;
    }
}


.image-slider .swiper-slide img{
   width: 100%;
   height: 100%;
   border-radius: 9px;
   object-fit: cover;
   pointer-events: none;
   opacity: 0.5;
   filter: grayscale(0.6);
   transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.image-slider .swiper-slide-active img{
    opacity: 1;
    filter: grayscale(0);
}



/* navigation buttons */


.btn{
    --swiper-navigation-size:25px;
    --swiper-navigation-color:var(--text);
    background: #aba4a4a9;
    padding: 25px;
    border-radius: 18%;
    border: 1px solid #fff;
    
}


.btn{
    transform: translateY(170px);
}

.swiper-button-next{
    margin-right: 25%;
}

.swiper-button-prev{
    margin-left: 25%;
}



.swiper-pagination{
   margin-bottom: 8%;
}

.swiper-pagination-bullet-active{
    background: var(--text) !important;
    width: 15px !important;
    border-radius: 2px !important;
}

.swiper-pagination-bullet{
    background: #fbf6f6ce !important;
    border-radius: 2px !important;
}




/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    .projects{
        height: 75vh;
    }
    
.image-slider .swiper-slide{
    width: 200px;
    height: 200px;
}


.image-slider{
    position: relative;
    width: 100%;
    height: 65%;
    margin-top: 50px;
}


.btn{
    transform: translateY(60px);
    padding: 15px;
     --swiper-navigation-size:15px;
}


.swiper-pagination{
   display: none;
}

}






/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={              Footer section of the                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


footer{
    height: 40vh;
    /* background: var(--primery); */
    display: grid;
    grid-template-rows: 20vh 1fr;
    
.nothing{
    background:var(--secondery);
    height: 20vh;
}

.contents{
    background: var(--primery);
}

}
