

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



@font-face {
    font-family: Mine;
    src: url(GraphikCondensed-Black-Trial.otf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}






/* root colors and themes */

:root{
  
    --primery:#242628;
    --secondery:#1e1e1e;
    --text:#ccd0fc;
    --blue:#5454D4;
    --btn-back:#303a6da1;
    --btn-color: #7171f5;
}



.icon-div{
    display: none;
}

#nav-open{
    display: none;
}

#nav-close{
    display: none;
}

/* ====================================== */
/*   commen elements styling elements     */
/* ====================================== */


body{
    background: var(--secondery);
    color: var(--text);
 }


h1{
        font-size: 28px;
        font-weight: 600;
        font-family:monospace,sans-serif;
    }


    

/*  section styles */

section{
    width: 100%;
    height: 100vh;
    padding-left: 80px;
    padding-right: 80px;
    background: var(--secondery);
}


@media (max-width:912px) {
        section{
            height: auto;
        }
        .projects{
            margin-top: 50px;
            /* height: auto !important; */
        }
}

/* ==================== */



/* ======================================== */
/* ======================================== */








/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section home page                     }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */





.landding-page{
    background: var(--secondery);
    /* margin-top: 150px; */
    position: relative;
}



/* modal styling */


.modal-container{
    display: flex;
    justify-content: center;
}

.mail-modal{
    min-width: 50%;
    width: auto;
    height: auto;
  
    background: #05060665;
    backdrop-filter: blur(5px);
    padding: 25px 40px;
    position: relative;   
    display:none;
    position: fixed;
    border: 1px solid var(--text);
    margin-top: 10px;
    z-index: 9999;
    border-radius: 12px;

    div{
        margin-top: 15px;
    }
}

.int-lab-cont{
    width: 100%;
}

.sbmt-btn{
    margin-top: 22px;
  display: flex;
  justify-content: center;   
}


.label-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;

}

 .label-theme{
       padding: 12px;
    }

    .input-theme{
        width: 100%;
        height: 40px;
        background-color: #818fd6;
        text-indent: 12px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        outline-color: #5454D4;

        
    }

    .message{
        input{
          height: 100px;
        }
    }

    .close-btn{
        top: 10px;
        right: 10px;
        position: absolute;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        background: #3373bd35;
        border: 1px solid var(--text);
        color:var(--text);
        border-radius: 12px;
    }


/* Landding page styling */




.logo img{
    width: 50px;
    height: 50px;
}


.logo{
    display: flex;
    align-items: center;
}



/* ===================== */

nav{
    /* background: #7799cb26;
    backdrop-filter:blur(4px);
    z-index: 999; */
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%; */
    /* border-bottom: 1px solid var(--btn-back); */
    

    .links ul{
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(8px);
    }

   


    ul li{
        text-decoration: none;
        list-style: none;
    }

    .link-btn{
        text-decoration: none;
        color:var(--text);
        font-weight: bold;
        border: 0.5px solid transparent;
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 13px;
    }

     .link-btn:hover{
           background: var(--btn-back);
           transition: 0.4s ease;
     }
}




/* ========================= */
/* ========================= */

.contact{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contact button{
    color: var(--text);
     width: 120px;
     height: 40px;
     cursor: pointer;
        background: #2c3239;
        border: 1px solid rgba(28, 62, 95, 0.904);
        color:#5b5bee;
        border-radius: 12px;
     font-weight: bold;
}


/* ========================== */
/* ========================== */


/* ============================= */
/* ========[second raw]========= */
/* ============================= */


.row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-2{
    margin-top: 60px;
}

aside{
    color: var(--text);
    width: 75%;
    height: 150px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 30px;

    
    h1{
        font-size: 40px;
    }

    h2{
        font-weight: bold;
    }


    .social-icons{
       display: flex;
       gap: 14px;
    }

   
}

    
     .icon-btn-theme{
        padding: 6px 12px;
        font-size: 26px;
        text-decoration: none;
        background: #2c3239;
        border: 1px solid rgba(28, 62, 95, 0.904);
        color:#5b5bee;
        border-radius: 12px;
    }


    .icon-btn-theme:hover{
      background: #303a6da1;
      color: #7171f5;
    }


    .btn-div button{
     color: var(--btn-color);
     width: 130px;
     height: 50px;
     cursor: pointer;
        background: #2c3239;
        border: 1px solid rgba(28, 62, 95, 0.904);
        color:#5b5bee;
        border-radius: 12px;
    }

    
    .btn-div button:hover{
      background: #303a6da1;
      color: #7171f5;
      border-color: #1c3e5fe7;
    }


/* =================== */
/* ======================== */


main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    



    /* background images  droped*/

     background-image: 
     url('./images/vector.png'), url('./images/Ellipse.png'), 
     url('./images/triangle.png') , url('./images/Icon.png');

    background-repeat: no-repeat;

    background-position: 
     left calc(0%) top calc(0%), left calc(100%) top calc(0%),
     left calc(0%) top calc(100%) , left calc(100%) top calc(100%);

    /* this is cool */
  

    img{
        width: 340px;
        height: 380px;
       
    }

}


/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {





section{
    width: 100%;
    height: 100%;
    padding-left: 35px;
    padding-right: 35px;
}

/* ====[navbar]===== */

nav{
    width:100%;
    padding: 10px 0px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
   

    

    .logo{
     display: flex;
     align-items: center;
    }
   
    .logo img{
       width: 50px;
       height: 50px;
    }
    
    
 .links ul{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
       
        z-index: 99;
        border: 1px solid var(--text);
        border-radius: 8px;
        gap: 18px;
    }

    

    .links{
        grid-column: 3/3;
        grid-row: 2/3;
        background:var(--primery);
        backdrop-filter:blur(80%);
    }


   
}



nav .links{
   display: none; 
}

nav .contact{
    grid-column: 2/2;
}



.icon-div{
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--text);

    grid-column: 3/3;

    button{
        border: none;
        background: transparent;
        color: var(--text);
        font-size: 22px;
    }

    #nav-close{
        display: none;
    }

    #nav-open{
        display: flex;
    }
}



    
.row-2{
    display: grid;
    grid-template-rows: minmax(460px,1fr) 1fr ;
    grid-template-columns: 1fr;
    gap: 30px;
}


aside{
    width: 80%;
}

main{
     display: flex;
     justify-content: right;

    img{
        width: 240px;
        height: 280px;
    }
}



 .social-icons{
   flex-wrap: wrap;
 }


    
}




/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section Intro Page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.intro{
    color: var(--text);
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
   

    .content, .headding{
        
        display: flex;
        align-items: end;
    }

    .mp4{
        grid-row: 2;
        grid-column: 1/ span 2 ;
        width: 80%;
        height: 80%;
        margin-left: 10%;
     
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        video{
            width: 100%;
            height: 100%;   
        }

        

    }

}


.ply-pse-btn{
   background: var(--text);
   position: absolute;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   font-size: 25px;
   cursor: pointer;
   border: none;   
  
}

#play{
   background: var(--blue);
   color: var(--text);
   visibility: visible;
   z-index: 3;
}

#pause{
    background: #8686a34d; 
    color: #adc6e7a2;
    visibility: hidden;
    z-index: 4;
}




/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    .intro{
        margin-top: 100px;
         display: flex;
         flex-wrap: wrap;
         gap: 15px;


        .mp4{
            height:auto;
            padding: 0;
        }
       
    }

    .ply-pse-btn{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
   
}




/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={                 Section projects Page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.projects{
    height: auto;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.pro-head{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pro-set{
    
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 75px;
   
}

.pro-cont{

    width: 170px;
    height: 170px;
    display: grid;
    grid-template-rows: 55px 30px 30px 1fr;
    justify-content: center;
    /* background: #2c3239; */
    /* border: 1px solid rgba(28, 62, 95, 0.904); */
    border-radius: 8px;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    div h2{
        font-weight: 600;
        font-size: 16px;
    }

    

    div span i{
        font-size: 12x;
        border-radius: 50%;
    }

    div span{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .pro-content{
        font-size: 10px;
    }

    .pro-buttons{
        display: flex;
        gap: 5px; 
    }

    

    .btn-theme{
        padding: 4px 8px;
        /* background: #3f4953; */
        /* border: 1px solid var(--text); */
        border-radius: 18px;
        text-decoration: underline;
        color: var(--blue);
        font-size: 12px;
        font-weight: 500;
    }

    .btn-theme:hover{
        background: #39393dc9;
    }
    
}


.yellow span{
    color: yellow;
    background: #5b5b40a2;
}

.red span{
    color: red;
    background: #5b43439d;
}

.blue span{
    color: #5b5bee;
    background: #393952cf;
}

/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    /* .mob{
        visibility: hidden;
    } */

    .projects{
        height: 100%;
    }

    .pro-set{
        height: 100%;
        margin-top: 10px;
        gap: 55px;
    }
}





/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={              Designs section page                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */



.design-head{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* posted button */

.posted-btn{
    font-size: 18px;
    padding: 8px 10px;
    position: absolute;
    z-index: 10;
    background-color: #3f505176;
    border: 1px solid #0c0c0e;
    backdrop-filter: blur(2px);
    border-radius: 12px;
    bottom: 10px;
    right: 10px;
    color: #000;
}

.sbmt-btn button{
    background: var(--btn-color);
    color: var(--text);
}

/* image slider */

.image-slider{
    position: relative;
    width: 100%;
    height: 72%;
    margin-top: 80px;
}


.image-slider .swiper-slide{
    width: 250px;
    height: 250px;
    aspect-ratio: 1/2;
    border-radius: 14px;
    user-select: none;
    position: relative;
}


.image-slider .swiper-slide-active{
    animation : blinking 2.2s infinite ease-in-out;
}


@keyframes blinking{
    50%{
       border-color: #6419ce;
    }
}


.image-slider .swiper-slide img{
   width: 100%;
   height: 100%;
   border-radius: 9px;
   object-fit: cover;
   pointer-events: none;
   opacity: 0.5;
   filter: grayscale(0.5);
   transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.image-slider .swiper-slide-active img{
    opacity: 1;
    filter: grayscale(0);
}





/* navigation buttons */


.btn{
    --swiper-navigation-size:25px;
    --swiper-navigation-color:#5b5bee;
        background: #2c3239;
        padding: 25px;
        border: 1px solid rgba(28, 62, 95, 0.904);
        border-radius: 12px;
    
}


.btn{
    transform: translateY(170px);
}

.swiper-button-next{
    margin-right: 25%;
}

.swiper-button-prev{
    margin-left: 25%;
}



.swiper-pagination{
   margin-bottom: 8%;
}

.swiper-pagination-bullet-active{
    background: var(--text) !important;
    width: 15px !important;
    border-radius: 2px !important;
}

.swiper-pagination-bullet{
    background: #fbf6f6ce !important;
    border-radius: 2px !important;
}




/* ========================================================================================================== */
/*                                  ===========[Responsive]==========                                        */
/* ========================================================================================================== */


@media (max-width:768px) {

    .Designs{
        margin-top: 150px;
        height: 75vh;
    }
    
.image-slider .swiper-slide{
    width: 200px;
    height: 200px;
}


.image-slider{
    position: relative;
    width: 100%;
    height: 65%;
    margin-top: 50px;
}


.btn{
    transform: translateY(60px);
    padding: 15px;
     --swiper-navigation-size:15px;
}


.swiper-pagination{
   display: none;
}

}






/* ========================================================================================================== */
/* ========================================================================================================== */
/* ======================={              Footer section of the                    }========================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


footer{
    height: 40vh;
    /* background: var(--primery); */
    display: grid;
    grid-template-rows: 20vh 1fr;
    
.nothing{
    background:var(--secondery);
    height: 20vh;
}

.contents{
    background: var(--primery);
}

}
